<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/style.css" rel="stylesheet" >
    <title>Colores y fondos</title>
</head>
<body>
    <h1>hola!</h1>
    <h2>Soy un gatito escondido</h2>
    <p id="class"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nihil odio, earum labore dolore accusantium illo inventore porro! Repellat vitae magni,
        <span> span aca </span> repudiandae totam quia at? Eveniet quod a optio perspiciatis.
    </p>

    <div id="caja">
    hola esta es mi caja
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui accusamus impedit totam vitae aliquid, eligendi tenetur dolorum perferendis optio error nostrum corrupti at deleniti, illum consequatur officiis deserunt sequi in?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, fugiat ex similique dolorum aut voluptatibus ratione, quos placeat nemo delectus eius natus. Sunt voluptatem itaque, voluptates veniam optio ab corporis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod a iste inventore id delectus vero ab placeat, qui nihil, deserunt voluptatibus est voluptates repellendus ipsam vel error ea repudiandae animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure saepe enim quaerat officia dolorum perferendis cum qui quisquam nam ad delectus porro aspernatur consequuntur error voluptate reiciendis, numquam consectetur architecto.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi sed magnam nostrum tempora iste quia adipisci vitae. Laudantium minima id eligendi! Libero quod quas architecto omnis! Provident maiores recusandae corrupti?
    </div>
</body>
</html>